header{
    width: 100%;
    height: auto;
    background: #F9F1E7;
}
.header-info{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 50px;
    background: #fff;
}
.header-info h1{
    font-size: 47px;
    color: #3A3A3A;
}
.header-info p{
    font-size: 17px;
    color: #898989;
    margin: 30px 0;
}
.header-btn{
    display: block;
    width: 100%;
    height: auto;
    padding: 20px;
    background: #E89F71;
    border: none;
    margin-left: 0;
    font-size: 17px;
    color: #fff;
    margin-top: 10px;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
}
.header-info button:hover{
    opacity: 0.7;
    color: #fff;
}